/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  height: 100%;
}
body {
  background-image: url("bc.png");
  height:100%;
  padding: 0px;
  
}
#main {
  overflow: auto;
  padding-bottom: 100px;
}

.card {
  background-image: url("stardust.png");

}
.jumbotron {
  background-image: url("tweed.png");
}
.movie_sort_button {
  cursor: pointer;
}
.movie_sort_button:hover {
  background-color: #383838;
}
.tabelaRating {
  background-color: #3F3F3F
  
}
.footer {
  position:relative;
  left:0px;  
  clear: both;
  bottom: 0;
  width: 100%;
  background-image: url("tweed.png");
}
.movieContainer {
  
  width: 1000px;
  margin: 0 auto;

  
}
.profileTable, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.profileTable th, td {
    padding: 10px;
    text-align: left;
}
.card-group {
  margin:0 auto;
}
#login {
  width: 500px;
  margin: 0 auto;
}
#userFlexContainer {
  display: flex;
  padding: 5px;
  height: 310px;
  
}

#profileContainer {
  border: 1px solid #3F3F3F;
  border-radius: 10px;
  margin: 5px;
  width: 45%;
  height: 80%;
  margin: 0 auto;
  background-image: url("stardust.png");
  background-color: #575757

}

profileAvatar {
  padding: 20px;
}

#profileDetails{
  width: 300px;
  height: 205px;
  margin-left: 10px;

}

body > .container {
  padding: 60px 15px 0;
  padding-bottom:20px;
  min-height: 100%;
  position: relative
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}




.navbar {
  margin-bottom: 0;
}

.jumbotron {
  margin-bottom: 0;
  background-color: #E9E3E3;
  width:100%;
  
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 270px;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  margin: 30px;
  height: 500px;
  overflow: hidden;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}


.album-text-muted {
  background-image: url("bk.jpg");
}

.list-group {
  list-style: decimal inside;
}
.list-group-item {
  display: list-item;
}

.arrow-up {
  width:0;
  height:0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid black;


}
.arrow-down {
  width:0;
  height:0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid black;

}

#movieTitle:hover {
  background-color: rgba(0, 0, 0, 0.12);
  
  cursor: pointer;
  
}
.card:hover {
  border: 0.5px solid black;
}

.dropdown-item:hover {
  background-color: rgba(148, 147, 147, 0.11)
}


#editContainer {

  border: 1px solid #3F3F3F;
  border-radius: 10px;
  margin: 5px;
  width: 45%;
  height: 80%;
  margin: 0 auto;
  background-image: url("stardust.png");
  background-color: #575757;
  padding: 10px;
  
  
}
