<h2 class="text-muted">Add a new Movie</h2>
<form ng-submit="lv.addMovie()">
    <div class="form-group">
        <label for="title" class="text-muted">Title:</label>
        <input type="text" class="form-control" id="title" placeholder="Enter title" name="title" ng-required="true" ng-model="lv.newMovie.title">
    </div>

    <div class="form-group">
        <label for="pwd" class="text-muted">Description:</label>
        <textarea class="form-control" id="description" placeholder="Enter description" name="description" ng-required="true" ng-model="lv.newMovie.desc"></textarea>
    </div>

    <div class="form-group">
        <label for="runtime" class="text-muted">Runtime:</label>
        <input type="number" class="form-control" id="runtime" placeholder="Enter runtime" name="runtime" ng-required="true" ng-model="lv.newMovie.runtime">
    </div>

    <div class="form-group">
        <label for="release" class="text-muted">Year of Release:</label>
        <input type="number" class="form-control" id="release" placeholder="Enter release year" name="release" ng-required="true"
            ng-model="lv.newMovie.release">
    </div>

    <div class="form-group">
        <label for="votes" class="text-muted">Number of Votes (IMDB) :</label>
        <input type="number" class="form-control" id="votes" placeholder="Enter number of  votes" name="votes" ng-required="true"
            ng-model="lv.newMovie.vote_count">
    </div>

    <div class="form-group">
        <label for="avg_vote" class="text-muted">Average vote (IMDB):</label>
        <input type="number" step="0.01" class="form-control" id="avg_vote" placeholder="Enter average vote" name="avg_vote" ng-required="true"
            ng-model="lv.newMovie.avg_vote">
    </div>

    <div class="form-group">
        <label for="actorChoice" class="text-muted">Select actors</label>
        <select class="form-control" multiple="multiple" name="actor" id="actor" ng-options="actor as actor.first_name + ' ' + actor.last_name for actor in lv.actors"
            ng-model="lv.newMovie.actor" ng-required="true"></select>
    </div>

    <div class="form-group">
        <label for="directorChoice" class="text-muted">Select a director</label>
        <select class="form-control" name="director" id="director" ng-options="director as director.first_name + ' ' + director.last_name for director in lv.directors"
            ng-model="lv.newMovie.director" ng-required="true"></select>
    </div>

    <div class="form-group">
        <label for="genreChoice" class="text-muted">Select genres</label>
        <select class="form-control" multiple="multiple" name="genre" id="genre" ng-options="genre as genre.genre_name for genre in lv.genres"
            ng-model="lv.newMovie.genre" ng-required="true"></select>
    </div>


    <div class="form-group">
        <label for="avg_vote" class="text-muted">Movie poster:</label>
        <input type="file" class="form-control" id="poster" placeholder="Upload movie poster" name="poster" ng-model="lv.newMovie.poster_path">
    </div>


    <button class="btn btn-danger">Submit</button>
</form>