<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">

  <title>Project Movie Database</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/main.css" rel="stylesheet">
  <link href="css/movie-page.css" rel="stylesheet">
  <link href="css/user_profile.css" rel="stylesheet">


</head>

<body ng-app="Aplikacija">
  <header>
    <div ng-controller="LoginCtrl as that">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="http://localhost">PMDB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                    Movies
                  </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" ui-sref="topRated">Top Rated <span class="sr-only">(current)</span></a>
                  <a class="dropdown-item" ui-sref="mostPopular">Most Popular <span class="sr-only">(current)</span></a>

                </div>
              </div>

            </li>

            <li class="nav-item active">
              <a class="nav-link" ui-sref="register" ng-show="!that.loggedIn">Register</a>
            </li>
            <li class="nav-item active" ng-show="!that.loggedIn">
              <a class="nav-link" ui-sref="login">Login</a>

            </li>

            <li class="nav-item active" ng-show="that.loggedInUser.user_type == 'Admin'">
              <div class="dropdown">
                <button style="margin-left:7px" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin options
                  </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" ui-sref="addMovie">Add movie</a>
                  <a class="dropdown-item" ui-sref="addCrew">Add crew</a>
                  <a class="dropdown-item" ui-sref="viewUsers">View users</a>
                  <a class="dropdown-item" ui-sref="viewMovies">View movies</a>
                </div>
              </div>

              <li class="nav-item active mt-2 mt-md-0" ng-show="that.loggedIn">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" style="margin-left:7px  " type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Welcome {{that.loggedInUser.username}}
                    </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" ui-sref="userProfile( { iduser: that.loggedInUser.iduser } )"> View Profile </a>
                    <a class="dropdown-item" ui-sref="watchlist"> Watchlist </a>
                    <a class="dropdown-item" ui-sref="userRatings"> Your ratings </a>
                    <a class="dropdown-item" ui-sref="userReviews"> Your reviews </a>
                    <a class="dropdown-item" ui-sref="editProfile( { iduser: that.loggedInUser.iduser } )"> Edit Profile </a>
                    <a class="dropdown-item" href="/logout" ng-click="that.logout()"> Log Out </a>
                  </div>
                </div>

          </ul>
        </div>




      </nav>
  </header>





  <section class="jumbotron text-center">
    <div class="container">

      <h1 class="jumbotron-heading text-muted">Project Movie Database</h1>


      <p class="lead text-muted">All of your favourite movies in one place. Rate, share and review them!</p>
      <form>
        <input style="width:620px" ng-model="searchInput.title" type="text" class="form-control mr-sm-2" type="text" placeholder="Search movies.."
          aria-label="Search">
      </form>

    </div>
  </section>


  <div class="container">
    <div id="main">
      <ui-view></ui-view>
    </div>
  </div>



  <footer class="footer">
    <div class="container">
      <span class="text-muted">&copy;Filip Curcic 2018.</span>
    </div>
  </footer>



  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery/jquery.min.js"></script>
  <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="js/jquery/jquery-3.2.1.min.js"></script>
  <script src="js/popper.js/popper.min.js"></script>

  <script src="js/angularjs/angular.min.js"></script>
  <script src="js/angularjs-ui-router/angular-ui-router.min.js"></script>

  <script src="app/app.js"></script>
  <script src="app/movies/filmovi.js"></script>
  <script src="app/admin_services/admin_services.js"></script>
  <script src="app/login_service/login_service.js"></script>
  <script src="app/user_services/user_services.js"></script>
  <script src="app/user_login/login.js"></script>
  <script src="app/movies/movies.js"></script>
  <script src="app/movie/movie.js"></script>


</body>


</html>