<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <title>Project Movie Database</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">



</head>

<body ng-app="Aplikacija">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="http://localhost">PMDB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="topRated.html">Top Rated <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="mostPopular.html">Most Popular <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="register.html">Register</a>
                    </li>
                </ul>

                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="movSearch">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>

    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading text-muted">Album example</h1>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and
                    sweet, but not too short so folks don't simply skip over it entirely.</p>

            </div>
        </section>



    <div class="container">
    <div id="login">

    <div ng-controller="ctrl as lv">
        <form class="form-signin" name- "sign_in" ng-submit="lv.checkLogin()">
            <label class="text-muted"  for="inputUsername">Username</label>
            <input type="text" id="username" class="form-control" placeholder="Username" autofocus="" ng-model="lv.username">
            <label class="text-muted" for="inputPassword">Password</label>
            <input type="password" id="password" class="form-control" placeholder="Password" style="margin-bottom:25px" ng-model="lv.password">
            <button class="btn btn-lg btn-default btn-block" type="submit">Sign in</button>
        </form>
    </div>
</div>
</div>



    </main>

    <footer class="footer">
            <div class="container">
              <span class="text-muted">Place sticky footer content here.</span>
            </div>
          </footer>




    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery/jquery.min.js"></script>
    <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="js/jquery/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js/popper.min.js"></script>

    <script src="js/angularjs/angular.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/filmovi/filmovi.js"></script>

</body>

</html>