<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <title>Project Movie Database</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">

</head>

<body ng-app="Aplikacija">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="http://localhost">PMDB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="topRated.html">Top Rated <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="mostPopular.html">Most Popular <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="register.html">Register</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="login.html">Login</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="newMovie.html">Add movie</a>
                    </li>
                </ul>

                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="movSearch">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>


    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Album example</h1>


                <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and
                    sweet, but not too short so folks don't simply skip over it entirely.</p>

            </div>
        </section>

        <div ng-controller="ctrl as lv">
            <div class="container">
                <h2>Add a new Movie</h2>
                <form method="post" action="/upload">
                    <div class="form-group">
                        <label for="title">Movie Title:</label>
                        <input type="text" class="form-control" id="title" placeholder="Enter title" name="title" ng-required="true">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Description:</label>
                        <textarea class="form-control" id="description" placeholder="Enter description" name="description" ng-required="true"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="runtime">Runtime:</label>
                        <input type="number" class="form-control" id="runtime" placeholder="Enter runtime" name="runtime" ng-required="true">
                    </div>
                    <div class="form-group">
                        <label for="release">Year of Release:</label>
                        <input type="number" class="form-control" id="release" placeholder="Enter release year" name="release" ng-required="true">
                    </div>
                    <div class="form-group">
                        <label for="actorChoice">Select actors</label>
                        <select class="form-control" multiple="multiple" name="actor" id="actor" ng-options="actor as actor.first_name + ' ' + actor.last_name for actor in lv.people"
                            ng-model="lv.selectedActor" ng-required="true"></select> {{lv.selectedActor}}
                    </div>
                    <div class="form-group">
                        <label for="directorChoice">Select a director</label>
                        <select class="form-control" name="director" id="director" ng-options="director as director.first_name + ' ' + director.last_name for director in lv.directors"
                            ng-model="lv.selectedDirector" ng-required="true"></select> {{lv.selectedDirector}}
                    </div>
                    <button class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </main>

    
    



    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery/jquery.min.js"></script>
    <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="js/jquery/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js/popper.min.js"></script>

    <script src="js/angularjs/angular.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/filmovi/filmovi.js"></script>

</body>

</html>